@font-face {
    font-family: "Oswald";
    src: local("Oswald"),
         url("/src/assets/fonts/oswald/Oswaldmedium.woff2") format("woff2"),
         url("/src/assets/fonts/oswald/Oswaldmedium.woff") format("woff");
        }

@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
         url("/src/assets/fonts/roboto/Robotomedium.woff2") format("woff2"),
         url("/src/assets/fonts/roboto/Robotomedium.woff") format("woff");
        }