$basic-font: "Oswald";
$secondary-font: "Roboto-Medium";
$input-font: "Roboto-Regular";
$table-head-font: "Oswald-Regular";
$table-body-font: "Roboto-Regular";

$basic-white: #ffffff;
$basic-black: #000000;
$transparent-color: #11ffee00;

$light-blue: #e6f1fa;
$basic-blue: #63A6DC;
$dark-blue: #D0E4F2;

$light-grey: #F0F2F2;
$basic-grey: #C4C4C4;
$plain-grey: #828282;
$dark-grey: #3F3F3F;

$light-red: #FFE3E3;
$basic-red: #EB5757;

$light-green: #E3FFE9;
$basic-green: #27AE60;


